<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.david.se7enqtest">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyTheme">
        <activity
            android:name=".SplashScreenMain"
            android:screenOrientation="portrait"
            android:theme="@style/MyThemeFullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainMenuActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".LogInActivity" />
        <activity android:name=".RegisterActivity" />
        <activity
            android:name=".TrainingActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".SynonymsActivity" />
        <activity android:name=".DefinitionsAcitivity" />
        <activity android:name=".ProjectionActivity" />
        <activity android:name=".MemoryActivity" />
        <activity android:name=".ArrayActivity" />
        <activity android:name=".GeneralKnowledgeActivity" />
        <activity android:name=".SplashScreenTraining" />
        <activity android:name=".CalculationActivity" />
        <activity android:name=".SplashScreenPlay" />
        <activity android:name=".OpponentPlayActivity" />
        <activity android:name=".SplashScreenSynonyms" />
        <activity android:name=".SplashScreenDefinitions" />
        <activity android:name=".SplashScreenArray" />
        <activity android:name=".SplashScreenCalculation" />
        <activity android:name=".SplashScreenKnowledge" />
        <activity android:name=".PlaySynonymsActivity" />
        <activity android:name=".PlayDefinitionsActivity" />
        <activity android:name=".PlayArrayActivity" />
        <activity android:name=".PlayCalculationActivity" />
        <activity android:name=".PlayKnowledgeActivity"></activity>
    </application>

</manifest>